.section {
  background-color: var(--app-section-bg);
  margin-top: 2.25rem;
  padding: 0.75rem 1.25rem;
  border-top: var(--app-section-border);
  border-bottom: var(--app-section-border);
}

.accountNameContainer {
  display: flex;
  justify-content: space-between;
}

.nameAndArrow {
  display: flex;
  align-items: center;

  .arrow {
    width: 1.125em;
    height: 1.125em;
    margin-left: 0.5em;
    position: relative;
    top: 1px;
    color: var(--app-section-icon-color);
  }
}

.removeAccountContainer {
  text-align: center;
  color: var(--danger);
}

.dialogContent {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  width: 300px;
  max-width: 94%;
  background-color: var(--app-main-bg);
  --separator-color: rgba(0 0 0 / 25%);
  --input-border-color: rgba(0 0 0 / 50%);
  @media (prefers-color-scheme: dark) {
    --separator-color: rgba(255 255 255 / 25%);
    --input-border-color: rgba(255 255 255 / 50%);
  }
}

.dialogTitle {
  font-weight: bold;
  text-align: center;
  padding: 1.5rem 1rem;
  line-height: 1.5rem;
}

.dialogInputContainer,
.dialogDescription {
  padding: 0 1rem 1rem 1rem;
}

.dialogInput {
  border: 1px solid var(--input-border-color);
  display: block;
  width: 100%;
}

.hSeparator {
  height: 1px;
  background-color: var(--separator-color);
}

.dialogButtons > button {
  width: 100%;
  text-align: center;
}

.renameAccountSubmitButton,
.removeAccountCancelButton {
  &:not(:disabled) {
    color: var(--primary-600);
    @media (prefers-color-scheme: dark) {
      color: var(--primary-400);
    }
  }

  &:disabled {
    color: gray;
  }
}

.removeAccountSubmitButton {
  color: var(--danger);
}

.dialogDescription {
  text-align: center;
}

.dialogButtons {
  display: flex;
  /* Need a fixed height for the vSeparator */
  height: 3rem;
}

.vSeparator {
  width: 1px;
  height: 100%;
  background-color: var(--separator-color);
  flex-shrink: 0;
}
