.form {
  margin-top: 1rem;
}

.sectionTitle {
  color: var(--app-section-title-color);
  padding: 0.5rem 1rem;
}

.textInputs {
  background-color: var(--app-section-bg);
  border-top: var(--app-section-border);
  border-bottom: var(--app-section-border);
  padding-left: 1rem;

  > input {
    border: none;
    width: 100%;
    padding: 0.75em 0.25em;

    &:not(:last-child) {
      border-bottom: var(--app-section-border);
    }
  }
}

.digitsFieldset {
  margin-top: 2rem;
  margin-left: 1rem;
  display: flex;

  .legend {
    padding-right: 1rem;
  }

  label:not(:last-of-type) {
    display: block;
    padding-right: 1rem;
  }
}

.form button[type="submit"] {
  margin-top: 2rem;
  width: 100%;
  border-radius: 0;
}
