.main {
  align-items: center;
  justify-content: center;
}

.mb-8 {
  margin-bottom: 2rem;
}

.errorMessage {
  color: var(--form-error-msg-color);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.qrReader {
  width: min(600px, 100%);
  margin-bottom: 2rem;
}
