.input {
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(0 0 0 / 50%);
  @media (prefers-color-scheme: dark) {
    border: 1px solid rgba(255 255 255 / 50%);
  }
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.formErrorMessage,
.formSuccessMessage {
  text-align: center;
  margin-bottom: 2rem;
}

.formErrorMessage {
  color: var(--form-error-msg-color);
}

.formSuccessMessage {
  color: var(--form-success-msg-color);
}

.buttonSpinner {
  margin-left: 0.5em;
  flex-shrink: 0;
}
