.header {
  display: flex;
  align-items: center;
  background-color: var(--primary-700);
  height: 3rem;
  --padding-x: 0.5rem;
  padding: 0 var(--padding-x);

  @media (min-width: 768px) {
    height: 3.5rem;
    --padding-x: 1rem;
    grid-column: 1 / -1;

    .toggleNavButton {
      display: none;
    }
  }
}

.heading {
  color: white;
  font-weight: bold;
  flex-grow: 1;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;

  @media (min-width: 768px) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.header.centerTitle .heading {
  text-align: center;
  margin-left: 0;
}

.headingButtonContainer {
  border-radius: 0.5rem;
  /* Use min-width because the "Done" button will not be a square */
  min-width: 2rem;
  height: 2rem;
  border: none;

  @media (min-width: 768px) {
    min-width: 2.5rem;
    height: 2.5rem;
  }
}

.headingLink {
  text-decoration: none;
  font-weight: bold;
  display: block;

  &.text {
    display: flex;
    align-items: center;
  }
}

.headingButtonContainer > .headingLink {
  height: 100%;
}

.headingButton,
.headingLink {
  padding: 0.25rem;
  color: white;
  /* Disable the translucent gray box on iOS Safari when :active.
     See https://stackoverflow.com/a/33681490. */
  -webkit-tap-highlight-color: rgba(0 0 0 / 0);

  &:active {
    color: rgba(255 255 255 / 50%);
  }
}

.headingIcon {
  width: 1.5rem;
  height: 1.5rem;

  @media (min-width: 768px) {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 992px) {
  .topRightButton,
  /* needed to counteract the specificity rules above ... ugh */
  .topRightButton.headingLink.text {
    display: none;
  }
}

.rightColumn {
  display: none;
  overflow-y: auto;
  padding: 1rem 0.5rem;
  background-color: var(--nav-bg);

  @media (prefers-color-scheme: dark) {
    border-right: var(--app-section-border);
  }

  @media (min-width: 992px) {
    display: block;
    grid-column: 3;
  }
}

.rightColumnButton {
  width: 100%;
}
