.header {
  display: flex;
  align-items: center;
  background-color: var(--primary-700);
  padding: 0.5rem 0.75rem;
}

@media (min-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }
}

.headingButton {
  border-radius: 0.5rem;
  padding: 0.25rem;
  border: none;
  color: white;
  /* Disable the translucent gray box on iOS Safari when :active.
     See https://stackoverflow.com/a/33681490. */
  -webkit-tap-highlight-color: rgba(0 0 0 / 0);
}

.headingButton:active {
  color: rgba(255 255 255 / 50%);
}

.heading {
  color: white;
  font-weight: bold;
  flex-grow: 1;
  position: relative;
  top: -1px;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 768px) {
  .heading {
    margin-left: 1rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.headingIcon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 768px) {
  .headingIcon {
    width: 2rem;
    height: 2rem;
  }
}

.navList > li {
  border-radius: 0.5rem;
}

.navList > li:is(:hover, :active) {
  background-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  .navList > li:is(:hover, :active) {
    background-color: #313131;
  }
}

.navList a {
  text-decoration-line: none;
  color: currentcolor;
  display: flex;
  align-items: center;
  padding: 0.75rem;
}

.navList a > svg {
  margin-right: 0.75rem;
  color: rgb(31 41 55);
}

.navList a > span {
  position: relative;
  top: -1px;
}

@media (prefers-color-scheme: dark) {
  .navList a > svg {
    color: white;
  }
}
